.ImageStyle img{
    width: 20rem !important;
    border-radius: 50%;
    height: 20rem !important;
}

.ContactWrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7rem;
    align-items: center;
    flex-wrap: wrap;
}

.textWrapper {
    width: 45%;
}
.textWrapper h1 {
    font-size: 50px;
    font-family: "GoogleSansBold";
}
.textWrapper p {
    font-family: 'GoogleSansRegular';
    font-weight: 600;
    color: dimgrey;
    font-size: 17px;
    text-align: start;
    line-height: 35px;
}

.textWrapper button {
    font-family: 'GoogleSansRegular';
    background-color: rgb(0, 28, 85);
    color: white;
    border: none;
    padding: 15px 45px;
    font-size: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    cursor: pointer;
}

@media only screen and (max-width:600px) {
    .textWrapper {
        width: 100%;
    }

    .ContactWrapper {
        padding-top: 2rem;
    }

    .ImageStyle img{
        width: 12rem !important;
        border-radius: 50%;
        height: 12rem !important;
    }
}

  
