.HeaderWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

.HeaderWrapper img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.nameofUser{
    font-size: 1.15rem;
    font-weight: 900;
    padding: 0 10px;
    font-family: GoogleSansBold;
    color: white;
    display: flex;
    align-items: center;

}

.homeImage img{
    min-width: 32rem;
    max-width: 35rem;
}

.headerCumNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 99;
}

.userName {
    font-family: "GoogleSansBold";
}

/* Navbar Styles */
.NavbarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Navbar {
    padding: 15px;
    display: flex;
    align-items: center;
    font-family: "GoogleSansRegular";
    cursor: pointer;
}

.activeClass {
    font-family: GoogleSansBold;
    font-weight: bold;
    opacity: 1;
    color: var(--card-white);


}

.normalClass {
    opacity: 0.7;
    color: var(--card-white);


}
/* Themes */
.themeWrapper {
    cursor: pointer;
}

.themeWrapper span {
    font-size: 20px;
}

/*  */
.textWrapper {
    width: 45%;
}
.textWrapper h1 {
    font-size: 50px;
    font-family: "GoogleSansBold";
    padding-top: 6rem;
}
.textWrapper p {
    font-family: 'GoogleSansRegular';
    font-weight: 600;
    color: dimgrey;
    font-size: 17px;
    text-align: start;
    line-height: 35px;
}
.container {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
  }
  
  .maindata {
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    margin: auto;
    padding: 10px;
  }


  @media only screen and (max-width: 700px) {
    .headerCumNavbar {
        display: none;
    }


    .textWrapper {
        width: 100%;
    }
    .textWrapper h1 {
        padding-top: 0;
    }

    .NavbarWrapper {
        flex-direction: column;
    }
    .maindata {
        justify-content: center;
    }

    .homeImage img{
        min-width: 20rem;
        max-width: 22rem;
    }
  }